/* 
	---------------------------------------------
	---------------------------------------------
					RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
	---------------------------------------------
	---------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

/*
	---------------------------------------------
	---------------------------------------------
					KEYFRAMES
	---------------------------------------------
	---------------------------------------------
*/

@-webkit-keyframes blink {
	from,
	49.9% {
		/*opacity: 0;*/
		visibility: visible;
	}
	to,
	50% {
		visibility: hidden;
	}
}

@keyframes blink {
	from,
	49.9% {
		/*opacity: 0;*/
		visibility: visible;
	}
	to,
	50% {
		visibility: hidden;
	}
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
	---------------------------------------------
	---------------------------------------------
			 		GAME PANEL
	---------------------------------------------
	---------------------------------------------
*/
.game-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.heart {
	height: 100px;
	-ms-flex-item-align: baseline;
	align-self: baseline;
}

.heart-1 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}
.heart-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}
.heart-3 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

/*
	---------------------------------------------
	---------------------------------------------
			 		CANVAS
	---------------------------------------------
	---------------------------------------------
*/
canvas {
	max-width: 100%;
}


/*
	---------------------------------------------
	---------------------------------------------
					MODALS
	---------------------------------------------
	---------------------------------------------
*/
.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* take full page */
    height: 100%; /* take full page */
    background-color: rgba(0, 0, 0, 0.5);
    /* opaque */
    -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.modal--win,
.modal--game-over {
	display: none;
}

.modal--c {
	background: #333;
}

.modal--game-over {
	color: #ddd;
	background: #222;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.modal__content {
    width: 80%;
    height: 70%;
    border-radius: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;	
	justify-content: space-around;
	margin: 5em auto;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.modal__content--win,
.modal__content--c {
	background-color: #ddd;
}

.modal__content--c {
	width: 85%;
	height: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-bottom: 10px solid #009f00;
	border-top: 10px solid #4f67d3;
}

.characters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	overflow: scroll;
}
.modal__character:first-of-type {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}
.modal__character-img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.selected {
	border-bottom: 10px solid #222;
	-webkit-transition: 0.1s ease-in-out;
	-webkit-transition: 0.1s ease-in-out;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}

.modal__header,
.modal__text,
.modal__btn {
	margin-top: 0;
}

.modal__header {
	font-weight: 600;
}

.modal__header--win {
	font-size: 2em;
}

.modal__header--game-over {
	font-size: 3em;
}

.modal__header--c {
	font-size: 2.5em;
}

.modal__text {
	font-size: 3em;
}


.modal__text--win {
	font-size: 3em;
    color: #000;
}

.modal__btn {
    padding: .5em;
    font-size: 1.5em;
    color: #f5f5f5;
    font-weight: 600;
    border-radius: 6px;
    max-width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

.modal__btn--win {
	background: #009f00;
}

.modal__btn--c {
	background: #222;
}

.modal__btn:hover {
	padding: 0.5em;
	font-size: 2em;
	cursor: pointer;
	-webkit-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.modal__text--game-over {
	-webkit-animation-name: blink;
	animation-name: blink;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	font-size: 2em;
}


/*
	---------------------------------------------
	---------------------------------------------
					MEDIA QUERIES
	---------------------------------------------
	---------------------------------------------
*/
@media screen and (min-width: 450px){
	.modal__header--win {
		font-size: 3em;
	}
	.modal__text--game-over {
		font-size: 3em;
	}
}

@media screen and (min-width: 594px){
	.characters {
		overflow: hidden;
	}
}

@media screen and (min-width: 450px){
	.modal__header--game-over {
		font-size: 4em;
	}
}

@media screen and (min-width: 599px){
	.modal__content--win {
		max-width: 600px;
	}}

@media screen and (min-width: 699px){
	.modal__content--c {
		max-width: 700px;
	}
}
